# Database Config/数据库配置/MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=数据库名
DB_PASSWORD=数据库密码
DB_NAME=用户名

# 超级管理员邮箱/必须配置/两个填一模一样的
SUPER_ADMIN_EMAIL=你的邮箱@qq.com
NEXT_PUBLIC_SUPER_ADMIN_EMAIL=你的邮箱@qq.com

# Redis Config/Redis配置/必须安装Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=  # 本地开发可以不设置密码

# Cookie Config/Cookie配置
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_DOMAIN=你的服务器ip

# Email Config/注册用的第一个你的邮箱/第二个填你邮箱的授权码
EMAIL_USER=你的邮箱@qq.com
EMAIL_PASS=邮箱授权码

# Admin Key/管理员密钥/作用：导入数据表和初始化数据表
ADMIN_KEY=123456  # 替换为你的实际密钥/随意设置 
# http://localhost:3000/api/cleanup 本地开发清除数据库
# http://localhost:3000/api/init 本地开发初始化数据库（先执行后面带这个/api/cleanup再执行后面带这个/api/init）按照顺序
# 如果是部署到服务器，项目启动成功后请先使用 http://你的服务器ip:3010/api/cleanup 访问网址再继续访问 http://你的服务器ip:3010/api/init 来清除和初始化数据库

# JWT Secret/自己设置一个/随意设置
JWT_SECRET=8f4f5e99d8b3a2c1e6d4f8a7c9b2e5d8a3f6c9b2e5d8a3f6c9b2e5d8
#JWT_SECRET 来验证 token 的真实性，并解码出用户信息

# Other Configs/第一个不要修改/第二个不要修改
NEXT_PUBLIC_UID="1731593799"
NEXT_PUBLIC_MY="aeikqrzHLMQSTUVXY6"
NODE_ENV=production
NEXT_PUBLIC_BASE_URL=http://你的服务器ip:3010

# API URLs/不要修改
NEXT_PUBLIC_API_URL_1="https://api.kxzjoker.cn/API/jiexi_video.php"
NEXT_PUBLIC_API_URL_2="https://api.ciyer.com/api/dy"
NEXT_PUBLIC_API_URL_3="https://api.xiaotuo.net/api/jiexi/api.php"

# API Keys/不要修改
NEXT_PUBLIC_API_KEY_2="bc444ece-4df0-33f5-dfae-3c51325378378b4523ec"









