# API URLs
NEXT_PUBLIC_API_URL_1="https://api.kxzjoker.cn/API/jiexi_video.php"
NEXT_PUBLIC_API_URL_2="https://api.ciyer.com/api/dy"
NEXT_PUBLIC_API_URL_3="https://api.xiaotuo.net/api/jiexi/api.php"

# API Keys
NEXT_PUBLIC_API_KEY_1="your-api-key-1"
NEXT_PUBLIC_API_KEY_2="bc444ece-4df0-33f5-dfae-3c51325378378b4523ec"

# Other Configs
NEXT_PUBLIC_UID="1731593799"
NEXT_PUBLIC_MY="aeikqrzHLMQSTUVXY6" 